@charset "utf-8";

/*
Theme Name:     B0000902-appellate-strategist-sedgwick
Theme URI:      http: //lexblog.com
Description:    Child theme for the LXB Parent Theme 1.2
Author:         Kai "Cowboy" Kurtis, Angelo Carosio and Scott Fennell
Template:       lxb-parent-theme-1.2
Version:        1.2
*/

@import url("../lxb-parent-theme-1.2/style.css");










/*UNIVERSALS==============================================================================*/
body, button, input, select, textarea {
	color: #333;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.post-title, .archive-title, .post-byline, .post-categories, .widget.global, .post-content blockquote:before {
	font-family: georgia, serif;
}



.arrow {font-family: 'lucida-sans-unicode;'}

a {color: #336699;}



a:hover {color: #776e57;}


button, input, select, textarea {border: 1px solid #ccc;}

.clear_div {clear: both;}

.clear_div,
.hide-text {
	display: block;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
}










/*FRAME=================================================================================*/

/*basic 960px box, centered, w/shadow*/
/*remember that blog wrapper is getting css3 pie for drop shadow, so it needs a background at all times.*/
body {
margin: 0 auto;
width: 980px;
background: #908874;
padding-bottom: 30px;
}

.blog-wrapper {
background: #fff;
margin: 0px auto;
padding: 0;
position: relative;
border-bottom: none;
}


/*full-width header & footer w/960 box for content*/
/*
body, .blog-wrapper, .blog-footer, .blog-header {
	box-shadow: none;
	margin: 0 auto; 
	min-width: 1020px; 
	width: 100%; 
}

#main_hgroup, .header-widgets, .main-wrapper, .blog-footer-inner-wrapper, .colophon { 
	margin: 0 auto;
	width: 960px;
}
*/










/*TOP===================================================================================*/
.blog-header {
background: url(images/header.jpg) no-repeat top center;
min-height: 323px;
position: relative;
padding-bottom: 0px;
}

#blog-title {
	margin: 0;
	position: relative;
}

.blog-header #blog-title a {
position: absolute;
left: 50px;
color: #6f876a;
font-size: 49px;
top: 120px;
line-height: 115px;
width: 450px;
}

.blog-header .blog-description {
width: 1px;
height: 1px;
padding: 0;
margin: 0;
}

.blog-header .search-box {
    bottom: 55px;
    position: absolute;
    right: 30px;
    z-index: 999;
}

.blog-header .logo a {
position: absolute;
right: 50px;
top: 30px;
width: 200px;
height: 40px;
}


.header-widgets .pub-by {
	position: absolute;
	top: 0;
}

.header-widgets .widget.global {
position: absolute;
width: auto;
top: 27px;
height: auto;
background: none;
left: 40px;
}

.widget.pub-by .pub {
	background: #889f84;
	color: #f9f4e0;
	font-size: 10px;
	text-transform: uppercase;
	display: inline-block;
	padding: 20px 10px 10px 10px;
	margin: -1px 10px 0 0;
}


.widget.pub-by .firm {
	font-size: 16px;
	color: #77715b;
}


/*SEARCH=================================================================================*/
.searchform {
	height: 26px;
	overflow: hidden;
	position: relative; 
	width: 200px; 
	border: 1px solid #cec5a2; 
	background: white;
}

.main .searchform {
	border-color: #ccc;
}

.searchform .searchsubmit {
	background-color: white;
}

.searchform .searchsubmit:hover {
	background-color: white;
}

.searchform input {
	border: 0;
	margin: 0;
	padding: 0;  
	position: absolute; 
	top: 0; 	
}

.searchform .s {

	height: 26px; 
	left: 5px; 
	padding: 0 0 0 3px;
	width: 165px; 
	font-weight: 400;
}

.searchform .searchsubmit {
	background-image: url(images/search-button.png); 
	background-position:  center center; 
	background-repeat: no-repeat;
	height: 22px; 
	right: 0; 
	width: 30px; 
	z-index: 999;
	top: 2px;
}

#ie7 .searchform .s {
	height: 20px; 
	width: 161px;
}









/*GLOBAL MENU===========================================================================*/
/*horizontal nav menu with drop-down*/
.header-widgets .menu li {
	float: left; 
	position: relative; 
	z-index: 1;
}

/*simple 1px border between items*/
.header-widgets .menu li a {border-right: 1px solid #59554d;}

.header-widgets .menu li:last-child a {border-right: none;}

/*trickier  2px 2-color border between items
.header-widgets .menu li a {border-left: 1px solid #fff; }

.header-widgets .menu li:first-child a {border-left: none; }

.header-widgets .menu li {border-left: 1px solid #eee; }

.header-widgets .menu li:first-child a {border-left: none; }



/*trickiest 2px 2-color border between items and bookending menu itself
.header-widgets .menu li a {border-right: 1px solid #fff; }

.header-widgets .menu li {border-right: 1px solid #eee; }

.header-widgets .menu li:first-child a {border-left: 1px solid #fff; }

.header-widgets .menu li:first-child  {border-left: 1px solid #eee; }

*/

.header-widgets .menu li a {
    display: block;
    float: left;
    font-size: 11px; 
    text-transform: uppercase;
    color: #e1d8b7;
    font-weight: bold;
    padding: 13px 20px;
    letter-spacing: 1px;
}

.header-widgets .menu li a:hover, .header-widgets .menu li.current-menu-item a {
	color: #b3d4f3;
}

.header-widgets .widget_nav_menu.global .sub-menu {
    background: none repeat scroll 0 0 #CCCCCC;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    border-left: none;
    border-right: none;
    height: 0;
    left: 1px;
    margin-left: 0;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    top: 43px;
    width: 0;
    z-index: 999;
}

.header-widgets .menu li:hover .sub-menu {
	height: auto; 
	opacity: 1; 
	width: auto;
}

.header-widgets .sub-menu li {
    border-left: none;
    border-right: none;
    float: none;
    min-width: 100%;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

#ie7 .header-widgets li:hover .sub-menu li {width: 200px; }

.header-widgets .menu .sub-menu li:first-child a {border-left: none; border-right: none;}
.header-widgets .menu .sub-menu li:first-child  {border-left: none; border-right: none;}
.header-widgets .menu .sub-menu li:last-child a {border-left: none; border-right: none;}
.header-widgets .menu .sub-menu li:last-child  {border-left: none; border-right: none;}

.header-widgets .menu .sub-menu li a {
    border-left: none;
    border-right: none;
    display: block;
    padding: 8px 0;
    text-align: left;
    width: 100%;
}

.header-widgets .menu .sub-menu li:last-child a {
	border-bottom: none; 
	padding-bottom:10px; 
	white-space: nowrap;
}

/*simple 1px border on dropdown items*/
.header-widgets .menu .sub-menu li a {border-bottom: 1px dotted #fff;}

.header-widgets .menu .sub-menu li:last-child a {border-bottom: none;}

/*trickier 2px 2-color border on dropdown items*/
/*.header-widgets .menu .sub-menu li a {
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #aaa;
}

.header-widgets .menu .sub-menu li:last-child a {border-bottom: none}

.header-widgets .menu .sub-menu li:first-child a {border-top: none}

*/










/*main-wrapper*/
.main-wrapper {
	overflow: hidden;
	padding: 0;
}

.main {
	float: left; 
	position: relative;
	width: 620px; 
	padding: 40px;
}

.sidebar {
float: right;
padding: 0;
background: #e1d8b7;
width: 280px;
padding-top: 40px;
}









/*SIDEBAR===============================================================================*/

.widget-title {
font-family: "franklin-gothic-urw";
font-size: 12px;
font-weight: 700;
color: white;
line-height: 1em;
margin-bottom: 20px;
width: 280px;
background: #3f3b33;
margin-left: -40px;
padding: 7px 5px 7px 40px;
text-transform: uppercase;
letter-spacing: 2px;
}

.sidebar .widget {
	font-size: 12px; 
	line-height: 16px;  
	padding: 0 40px;
	width: 200px;
}


.sidebar .widget img {max-width: 100%;}








/*stay connected*/


.connect ul {
list-style: none;
margin: 0;
padding: 0;
}


.connect li {
display: inline;
font-size: 28px;
margin: 0;
}

.connect .rss-sign a{
	color: #f18120;
}

.connect .facebook-sign a {
	color: #3b5998;
}

.connect .linkedin-sign a {
	color: #007bb6;
}

.connect .twitter-sign a {
	color: #3bb1f3;
}

.connect .google-plus-sign a {
	color: #dd4b39;
}








/*feedburner*/

.widget.feedburner {
height: auto;
overflow: hidden;
padding-top: 0;
}

.feedburner form {
height: auto;
position: relative;
overflow: hidden;
}

.widget.connect {
padding-bottom: 0;
border-bottom: 0;
margin-bottom: 0;
}

.feedburner input {margin-top: 4px;}

.feedburner input[type='submit'] {padding-top: 1px;} /* this is a post-release fix that somehow I missed pre-release.  This should be handled in the parent theme more gracefully next time around */

.feedburner .widget-title {
font-size: 13px;
text-transform: none;
color: #222;
font-weight: 400;
padding: 8px 0px;
margin: 0 0 -3px 0;
background: none;
text-align: left;
letter-spacing: 0;
margin-top: 5px;
}

.feedburner .widget-title span {
display: none;
}

.feedburner .widget-title span.icon-envelope {
display: inline;
position: relative;
top: 0;
left: 0;
margin: 0;
padding-right: 5px;
color: #222;
font-size: 15px;
background: none;
}

.feedburner input {
background: #fff;
border: 1px solid #ccc;
width: 100% !important;
position: static !important;
text-indent: 0 !important;
padding-left: 5px !important;
display: block;
margin-bottom: 3px;
}

.feedburner input[type="email"]{
left: auto;
padding-left: 40px;
position: absolute;
right: 40px;
text-indent: 5px;
width: 100%;
height: 28px;
}

.feedburner input[type="submit"] {
font-weight: 400;
color: #fff;
border-radius: 3px;
background: #3f3b33;
font-size: 13px;
}

.feedburner input[type="submit"] {
padding: 12px 6px;
height: auto;
line-height: 1em;
}

.feedburner input[type="submit"], .searchform input[type="submit"] {
background-position: center 5px;
background-repeat: no-repeat;
right: 0;
top: 0;
width: 40px;
position: absolute;
}





/*subscribe_2 -- from Andrew Hefter*/
/* Styles for Subscribe2 sidebar widget */

/*

.feedburner {
    height:120px;
    overflow:visible;
}

.feedburner form{
    overflow:visible;
}

.feedburner table{
    width:100%;
}

.feedburner tr:first-child{
    display:none;
}

.feedburner input{
    position:relative;
}

.feedburner input[type="text"] {
    margin-top: 4px;
}

.feedburner input[type="radio"]{
    width:12px;
    top:6px;
    margin-right:3px;
}

.feedburner input[type="submit"]{
    margin-top:-50px;
    float:right;
}

*/




/*links*/
/*simple 1-color border*/
.links li {border-bottom: 1px solid #efe5c2;}

.links ul ul li {border-bottom: none;}

/*trickier 2-color border*/
/*the 'link_parent' class is added via a jQuery snippet in the parent theme*/
/*
.links li {border-bottom: 1px solid red;}

.links a {border-bottom: 1px solid green;}

.links li.links_parent{border-bottom: none;}

.links li.links_parent a{border-bottom: none;}

.links ul ul li {border-bottom: none;}

.links ul ul li a {border-bottom: none;}

.links ul ul {border-bottom: 1px solid red;}

.links ul ul li:last-child a {border-bottom: 1px solid green;}

.links li:last-child {border-bottom: none;}

.links li:last-child a {border-bottom: none;}

*/











/*POST CONTENT==========================================================================*/
#breadcrumbs {
	border-bottom: 1px solid #ccc; 
	font-size: 11px; 
	font-weight: 700; 
	margin-bottom: 30px; 
	padding-bottom: 5px;
}

.main .post-title, .main .archive-title {
	font-size: 28px;
	margin-bottom: 10px;
	line-height: 30px;
	color: #000;
}

.post-content {
	font-size: 15px;
	line-height: 20px;
}

.post-content .more-link {
	font-weight: bold;
}

.post-content img {max-width: 100%;}

.post-categories, .post-byline {
	font-size: 11px;
	font-style: italic;
}

.post-categories, .post-byline, .post-social, .post-tools, .post-tags {font-weight: 400;}

.post-comments, .post-print {
	float: left;
}

.post-social {
float: left;
width: auto;
clear: none;
margin-top: 1px;
margin-bottom: 20px;
}


.post-social.font-awesome a, a.post-comments, a.post-print {
font-size: 25px !important;
color: #3f3b33;
padding-right: 10px !important;
}


.single .post-social.font-awesome a, .single a.post-comments, .single a.post-print {
	color: #3f3b33;
}

.post-social .icon-envelope-alt:before {
	content: '\f0e0';
}

a.post-comments, a.post-print {
	padding: 0 10px 0 1px;
	border-right: 1px solid #ccc;
		margin-right: 10px;
}

a.post-print {
	padding: 1px 10px 0 1px;
}


.post-footer {
	font-size: 11px; 
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	min-height: 50px;
}

.post-print, .post-comments {
border-bottom: 0;
}


.post-tags {
	font-size: 10px;
	text-transform: uppercase;
color: #666666;
	padding-bottom: 10px;}

.post-tags a {
	font-size: 11px;
	text-transform: uppercase;
}


.post-content blockquote {font-size: 18px; line-height: 1.3em; color: #77715b; margin: 0 60px;
position: relative;
left: 0;
clear: both;
min-height: 2em;
margin-bottom: 5px;}

.post-content blockquote:before {
color: #3f3b33;
font-size: 110px;
left: -58px;
font-weight: 400;
top: 34px;
}












/*BOTTOM==================================================================================*/

.pagination {
position: relative;
padding-top: 50px;
margin-bottom: 40px;
}

.pagination a {
font-size: 15px;
font-weight: 600;
padding: 10px 15px;
display: block;
color: white;
background: #3f3b33;
border-radius: 3px;
}

.pagination a span {
	font-size: 18px;
	font-weight: 600;
margin-left: 5px;
}

.pagination i {
font-size: 15px;
}

.pagination .prev, .pagination .next {
width: auto;
}

.pagination a span {
	font-size: 18px;
	font-weight: 600;}
	
	.pagination i.icon-chevron-right {
		margin-left: 5px;
	}
	
	.pagination i.icon-chevron-left {
		margin-right: 5px;
	}


.blog-footer {
	position: relative;
}

.blog-footer-inner-wrapper {
	overflow: hidden;
	padding: 30px;
	border-top: 10px solid #a49a6f;
}

.blog-footer .widget {
	font-size: 11px;
	line-height: 15px;
}

.blog-footer .widget-title {
font-size: 12px;
text-transform: uppercase;
background: none;
padding: 0;
margin: 0 0 10px 0;

}

.blog-footer a {
	color: #3f3b33;
}


a.footer-blog-title {
	display: block;
	font-size: 19px;
	font-weight: bold;
	color: #3f3b33;
	margin-bottom: 20px;
}

.blog-footer img.footer-graphic {
	float: none;
	padding: 0 0 10px 7px;
}





/*footer-extras*/
.footer-extras {float: left;}

.footer-extras .widget {
float: left;
margin-left: 30px;
width: 340px;
color: white;
padding-top: 55px;
line-height: 16px;
}

.footer-extras .widget:first-child {margin-left: 0;}










/*footer-contact*/
.footer-contact {
float: left;
width: 300px;
}

.contact-info {padding-bottom: 20px; font-size: 11px; line-height: 20px; display: block; clear: both;}



.blog-footer .connect a i {
	color: #3f3b33;
}


.blog-footer .footer-info img {
	float: none;
	padding: 0;
	margin: 0;
	clear: both;
}

.blog-footer .footer-info {
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
}


/*colophon*/
.colophon {
	background: #3f3b33;
	clear: both;
	height: 50px;
	position: relative;
	border-bottom: 10px solid #b4a76c;
}

.copyright {
bottom: 17px;
font-size: 11px;
color: #fff;
left: 20px;
position: absolute;
}
/*the default lxb logo is gray, you can call white by adding a widget class of white to the text widget that calls the shortcode [lxb_base_shortcode_lexblog]*/
/*let's continue to extend that pattern as we encounter designs that call for other colors*/
a.lexblog {
bottom: 13px;
position: absolute;
right: 10px;
}
.lexblog_2014 .lexblog_slogan {
	color: #f9f4e0;
}

/*legal*/
.legal {
display: block;
clear: both;
}

.blog-footer .connect {
display: block;
clear: both;
margin-bottom: 15px;
}


.legal a {
	font-weight: normal;
	color: #3f3b33;
}




/*ARCHIVE PAGE===========================================================================*/

.archive-header {}

.archive-header h1 {
margin-bottom: 10px;
}

.archive-header h1 strong {}


.grid-row {}


.archive-header a.feed {background: none; padding: 0; float: left; font-size: 12px;  }

.archive-header a.feed:before {
	font-family: FontAwesome;
	content: '\f09e';
	color: #222222;
	margin-right: 10px;
	font-size: 15px;
	
}

.main.grid .post-content {
	font-size: 12px;
	line-height: 16px;
}

.grid .read_more {
	font-weight: bold;
}







/*CONTACT PAGE===========================================================================*/


.wpcf7-form {
	background-color: #efefef;
	border: 1px solid #dfdfdf;
}

.wpcf7-form input[type="submit"]{padding: 7px 20px; background-color: #3f3b33; color: white; font-size: 14px; text-transform: uppercase; }
